# Backend
REACT_APP_BACKEND_URL=https://domain.com

# Frontend
REACT_APP_FRONTEND_URL=https://domain.com

# Keycloak
REACT_APP_KEYCLOAK_URL=https://domain.com/auth
REACT_APP_KEYCLOAK_REALM=example-realm
REACT_APP_KEYCLOAK_CLIENT_ID=example-client

# Github App
REACT_APP_GITHUB_APP_CLIENT_ID=example-client-id

# On-Premise Fleet // If true create namespace else fleet
REACT_APP_ON_PREMISE_FLEET=true 

# On-Premise Robot // If true create environment else robot
REACT_APP_ON_PREMISE_ROBOT=true