@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  display: none;
}

.react-toggle {
  @apply !scale-75;
}

.react-transform-wrapper,
.react-transform-component {
  @apply !w-full !h-full;
}

.ContextMenuWindow-module_menuRow__x2Jkz {
  @apply !text-xs !p-3;
}

.animate__animated {
  animation-fill-mode: unset !important;
}

.react-toggle--checked .react-toggle-track {
  @apply !bg-primary;
}

.ui-resizable-handle {
  @apply !opacity-0;
}

.grid-stack-item-content {
  @apply !shadow-lg;
}

.Toastify__toast-body {
  @apply !text-sm;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.shrink-0 {
  flex-shrink: 0;
}

.grow {
  flex-grow: 1;
}

.h-screen {
  height: 100vh;
}

.bg-darker {
  background-color: #202020;
}

.bg-dark {
  background-color: #2d3032;
}

.font-mono {
  font-family: monospace;
}

.color-white {
  color: white;
}

.overflow-hidden {
  overflow: hidden;
}

.contents {
  display: grid;
  place-items: center;
  transition: filter 0.2s ease-out, background-color 0.2s ease-out;
  font-size: 16px;
}

.dragging {
  filter: blur(5px);
  background-color: #555555;
}

.sample-drag-bar {
  flex-shrink: 0;
  width: 6px;
  background-color: #d1d5db;
  cursor: col-resize;
  transition: background-color 0.15s 0.15s ease-in-out;
}

.sample-drag-bar.sample-drag-bar--dragging,
.sample-drag-bar:hover {
  background-color: #63b3ed;
}

.sample-drag-bar.sample-drag-bar--horizontal {
  height: 6px;
  width: 100%;
  cursor: row-resize;
}
