@tailwind base;
@tailwind components;
@tailwind utilities;

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

.animate-fadeInLeftBig {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-duration: var(0.5s);
  animation-duration: var(0.5s);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInLeftBig;
  animation-name: fadeInLeftBig;
}

.animate-fadeIn {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: var(1s);
  animation-duration: var(1s);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.transition-300 {
  @apply !transition-all !duration-300 !ease-in-out;
}

.transition-500 {
  @apply !transition-all !duration-500 !ease-in-out;
}

body::-webkit-scrollbar {
  display: none;
}

progress::-webkit-progress-bar {
  @apply !bg-primary-200;
}
progress::-webkit-progress-value {
  @apply !bg-green-300;
}

.react-toggle {
  @apply !scale-75;
}

.react-transform-wrapper,
.react-transform-component {
  @apply !h-full !w-full;
}

.ContextMenuWindow-module_menuRow__x2Jkz {
  @apply !p-3 !text-xs;
}

.animate__animated {
  animation-fill-mode: unset !important;
}

.p-column-title {
  @apply !text-[10px] !font-semibold !uppercase !text-light-800;
}

th {
  @apply !bg-transparent;
}

td {
  @apply !p-3;
}
.p-paginator-current {
  @apply !text-xs;
}

.p-paginator-element {
  @apply !h-8 !min-w-[2rem] !text-xs;
}

.react-toggle--checked .react-toggle-track {
  @apply !bg-primary-500;
}

.ui-resizable-handle {
  @apply !opacity-0;
}

.grid-stack-item-content {
  @apply !shadow-lg;
}

.Toastify__toast-body {
  @apply !text-sm;
}

.reactour__close {
  color: white !important;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.shrink-0 {
  flex-shrink: 0;
}

.grow {
  flex-grow: 1;
}

.h-screen {
  height: 100vh;
}

.bg-darker {
  background-color: #202020;
}

.bg-dark {
  background-color: #2d3032;
}

.font-mono {
  font-family: monospace;
}

.color-white {
  color: white;
}

.overflow-hidden {
  overflow: hidden;
}

.contents {
  display: grid;
  place-items: center;
  transition:
    filter 0.2s ease-out,
    background-color 0.2s ease-out;
  font-size: 16px;
}

.dragging {
  filter: blur(5px);
  background-color: #555555;
}

.sample-drag-bar {
  flex-shrink: 0;
  width: 6px;
  background-color: #d1d5db;
  cursor: col-resize;
  transition: background-color 0.15s 0.15s ease-in-out;
}

.sample-drag-bar.sample-drag-bar--dragging,
.sample-drag-bar:hover {
  background-color: #63b3ed;
}

.sample-drag-bar.sample-drag-bar--horizontal {
  height: 6px;
  width: 100%;
  cursor: row-resize;
}

.table-action-button {
  @apply !h-8 !w-8;
}

.table-action-button span {
  @apply !text-xs;
}

.p-dialog-title {
  @apply !text-base !font-semibold;
}

.p-paginator-element.p-highlight {
  @apply !bg-primary-200 !font-semibold !text-primary-500;
}

.p-sortable-column-icon {
  @apply !text-light-500;
}

.p-datatable-emptymessage td {
  @apply !text-center !text-xs !font-semibold !text-light-500;
}

.p-paginator-left-content button {
  @apply !h-9 !w-9 !border !border-primary-500 !bg-light-50;
}

.p-paginator-left-content button span:first-child {
  @apply !scale-[0.8] !text-primary-500;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #bfbfbf;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background: #999;
}

#test {
  position: relative;
  width: 80%; /* Set the initial width of the div */
  height: 1px; /* Set the height to 1px to create a horizontal line */
  background-color: black; /* Set the background color to black to hide the dots */
}

#test::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, transparent 50%, black 50%);
  background-size: calc((100% - 8px) / 2) 1px; /* Calculate the width of the dots */
}

.content-splitter {
  width: 100% !important;
}

.w-fill-available {
  width: -webkit-fill-available;
  width: -moz-fit-content;
}

.rti--input {
  width: fit-content !important;
}
